:root {
    --color1:black;
    --color2:white;
}

* {
    font-family: Verdana, Arial, Helvetica, serif;
}

a:visited{color: inherit}
a:link{color: inherit}

a:hover {
  background-color: var(--color1);
  color: var(--color2);
}

h1 {
    color: var(--color1);
    text-align: left;
    padding: 0px 15px;

}


body {
    padding-top: 50px; /* Adjust this value to match the height of your header */
    padding-bottom: 50px; /* Adjust this value to match the height of your footer */
    padding-left: 10px;
    padding-right: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9998;
    background-color: var(--color1);
    color: var(--color2);
    padding: 10px ;
    font-size: small;
    text-align: center;
}

footer a:hover {
    background-color: var(--color2);
    color: var(--color1);
}

img[alt$=img-homepage] {
    float: left; 
    border-radius: 50%; 
    width: 100px; 
    margin-right: 15px
}

.rotate {
    font-size: 24px;
    display: inline-block;
    transform-origin: center;
    animation: rotate 3s linear infinite;
}

@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}