
.post-title-container {
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    border: 1px solid #000; /* Add a border for visual separation */
    margin-left: 50px;
    margin-right: 50px;
  }

.post-title {
    text-align: center;
    font-size: x-large;
    font-weight: bold; 
    text-transform: uppercase; 
}

.post-date {
    font-size: small;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 50px;

}
